/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    background-color:#D4A76A /*change overall background color*/
}

.header {
    background: #FFDBAA; /*change header background*/
    color: #553100; /*change font color*/
    border: 1px solid; /*create border around header*/
    position: relative;
    width: 100%; /*expands with window*/
    height: 100px;
}

.nav-bar-container {
    position: fixed; /*set the main navigation buttons to the top right of the screen*/
    top: 50px;
    right: 20px;
}

.nav-bar {
    background-color: #805215; /*change color of button*/
    color: white; /*change color of font*/
    font-weight: bold; /*bolden font*/
    margin-bottom: 10px; /*so buttons do not overlap*/
    width: 100px;
    height: 50px;
}

.nav-button {
    background-color: #805215; /*change color of button*/
    color: white; /*change color of font*/
    font-weight: bold; /*bolden font*/
    padding: 10px;
}

.nav-button-about {
    background-color: #805215; /*change color of button*/
    color: white; /*change color of font*/
    font-weight: bold; /*bolden font*/
    padding: 10px;
    width: 950px;
}

.text-box-flight {
    width: 200px; /*width and height of text box*/
    height: 175px;
    border: 1px solid;
    background-color: white;
    text-align: center; /*align text center of text box*/
    box-shadow: 2px 2px 2px 2px; /*create shadow around button*/
    font-size: 14px;
    margin: 0 60px;
    display: inline-block;
}

.text-box-about {
    width: 1000px; /*width and height of text box*/
    height: 225px;
    border: 1px solid;
    background-color: white;
    text-align: center; /*align text center of text box*/
    box-shadow: 2px 2px 2px 2px;
    margin: 20px 0;
}

.text-header {
    font-size: 16px;
}

.text {
    font-size: 14px;
    padding: 10px
}